* {
  box-sizing: border-box;
}

p {
  color: #fff;
}

#header {
  position: fixed;
  top:  50px;
  left: 50px;
  background-color: rgba(0,0,0,.3);
  padding: 20px;
}

#header p {
  display: inline;
}

#header h1 {
  font-family: "Lora-Bold";
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0.21px;
  margin: 0;
}

span#meeting-finder {
  font-family: "Lora-Bold";
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 7px;
}

#header input {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px dotted white;
}

#header p, #header input {
  font-family: "Roboto-Bold";
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.59px;
}

#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.tooltip_container {
  transform: translateX(-400px);
  transition: transform 0.5s;
}

.tooltip_hide {
  transform: translateX(0px);
}

.button_show {
  display: block;
}

.button_hide {
  display: none;
}

#tooltip_container {
  height: 100vh;
  width: 400px;
  position: fixed;
  top: 0;
  left: 100vw;
  margin: auto;
}

#tooltip {
  width: 95%;
  max-height: 100%;
  background-color: #000;
  margin: 0px;
  float: right;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3% 7%;
  overflow: auto;
}

#tooltip h1 {
  font-family: "Lora-Bold";
  font-size: 32px;
  letter-spacing: 0.16px;
  margin: 15px 0;
}

#tooltip h2 {
  font-family: "Roboto-Regular";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.13px;
  margin: 15px 0;
}

#tooltip h3 {
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.13px;
  margin: 15px 0;
}

#tooltip hr {
  border: 0.5px dotted #FFFFFF;
  margin: 15px 0;
}

#tooltip h4 {
  font-family: "Roboto";
  font-size: 18px;
  letter-spacing: 0.13px;
  margin: 10px 0;
}

h4.meeting_name {
  font-weight: 700;
}

h4.meeting_type {
  font-style: italic;
  font-weight: 400;
}

h4.meeting_schedule {
  font-weight: 400;
}

#tooltip p {
  font-family: "Roboto";
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.13px;
  margin: 5px 0;
}

#tooltip_button {
  margin-right: 95%;
  width: 15%;
  height: 48px;
  line-height: 48px;
  background-color: #000;
  margin-top: 15px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 30px;
}

#tooltip_button:hover {
  cursor: pointer;
  background-color: #696969;
}

.leaflet-marker {
  /* background-color: #74A9CF; */
  width: 1.25vw;
  height: 1.25vw;
  display: block;
  left: -0.625vw;
  top: -1.25vw;
  position: relative;
  border-radius: 0.625vw 0.625vw 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}

#current-leaflet-marker {
  background-color: #FA8072;
  width: 1.25vw;
  height: 1.25vw;
  display: block;
  left: -0.625vw;
  top: -1.25vw;
  position: relative;
  border-radius: 0.625vw 0.625vw 0;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF;
}

.leaflet-marker-active {
  width: 2vw;
  height: 2vw;
  display: block;
  left: -1vw;
  top: -2vw;
  position: relative;
  border-radius: 2vw 2vw 0;
  transform: rotate(45deg);
  border: 5px solid #FA8072;
}
