* {
  box-sizing: border-box;
}

.sensor-chart {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

.sensor-chart-title {
  text-align: center;
  padding-bottom: 50px;
  max-width: 40rem;
  margin: auto;
  font-family: "RobotoSlab-Bold";
  font-size: 38px;
  color: #000000;
  letter-spacing: 0.17px;
  text-align: center;
}

.temp-line {
  fill: none;
  stroke-width: 8px;
}

#inside-temp-line {
  stroke: #3023AE;
}

#outside-temp-line {
  stroke: #B4EC51;
}

.diff-rect {
  fill: url(#linearGradient-1);
}

.axis-labels {
  max-width: 100px;
  position: absolute;
  transform: translateY(80px);
  font-family: "Roboto-Bold";
  font-size: 17px;
  color: #000000;
  letter-spacing: 0.08px;
}

.inside-label {
  background-color: #3023AE;
  color: #fff;
}

.outside-label {
  background-color: #B4EC51;
  color: #000;
}

.time-axis line, path.domain {
  stroke: #979797;
  stroke-width: .5px;
  stroke-dasharray: 4;
}

.time-axis text {
  text-anchor: end;
  dx: -.8em;
  dy: .15em;
  transform: rotate(-45deg);
}

rect.overlay {
  fill: none;
  /* 'pointer-events': 'all'; */
}

#axis-label-cel {
  text-align: right;
}

#tooltip {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

#tooltip h1 {
  font-family: "RobotoSlab-Bold";
  font-size: 28px;
  letter-spacing: 0.17px;
}

#tooltip p {
  font-family: "Roboto-Bold";
  font-size: 17px;
  letter-spacing: 0.08px;
  line-height: 10px;
}

circle.hover-circle {
  display: none;
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  r: 10;
  stroke-dasharray: 2;
}
